:root{
  --background-color1:  #dfdfe2;
  --background-color2:  #1b1b32;
  --text-color-white: #f0f0f0;
  --hyper-link-active:  #303841;
}

*{
  margin: 0;
  padding:0;
}

*, ::before, ::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", "Times New Roman";
}

fieldset{
  border: none;
}

.center{
  align-items: center;
  text-align: center;
}

.no-text-decoration, .nav-list a{
  text-decoration: none;
}

ul li{
  list-style: none; 
}

.header-nav{  /*nav  */
  position: fixed;
  background: var(--background-color2);
  display: flex;
  justify-content: flex-end;
  /*
  
  flex-direction: row;
  flex-wrap: nowrap; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-list{ /*nav ul */
  display: flex;
  margin-right: 2rem;
}

.nav-list a{
  color: var(--text-color-white);
  padding: 22px 22px;
  display: block;
}

.nav-list a:hover{
  background-color: var(--text-color-white);
  color: var(--background-color2);
}

#about-section{
  height: 100vh;
  width: 100%;
  top: 220px;
  text-align: center;
  display: block;
  position: relative;
}

.intro{
  font-size: 1.5rem;
  font-weight: bold;
}

/*Footer section */
.footer{
  bottom: 0;
  margin: 1rem;
}
.contact-section{
  height: 30vh;
  width: 100%;
  bottom: 0;
  display: flex;
  /*flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  background-color: var(--background-color2);
}

#div-contacts a{
  padding: 0 2rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}